<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Ajout Events</title>
</head>

<body class="container">
    <header>
        <h1 id="title">Créer Un Super Event</h1>
    </header>
    <p>Bonjour {{name}}, veuillez remplir ce formulaire afin de créer un nouvel Evenement !</p>

    <form action="ajout/" method="POST">
        <div class="form-group">
            <label for="title">Title :</label>
            <input class="form-control" type="text" name="titre" placeholder="Title of the event">
        </div>
        <div class="form-group">
            <label for="datetime">La Date :</label>
            <input class="form-control" type="date" name="datetime">
        </div>

        <div class="form-group">
            <label for="place">Place : </label>
            <input class="form-control" type="text" name="place" placeholder="Place of the event">
        </div>

        <div class="form-group">
            <label for="textarea">Message :</label>
            <textarea class="form-control" name="message" rows="15" cols="50" placeholder="Write something here !"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</body>

</html>