<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Les Events</title>
</head>

<body>

    <h1>Super Events</h1>

    <section class="event">
        {{#listeEvents}}
        <div class="box">
            <h2 class="purple">{{titre}}</h2>
            <p>{{auteur}}</p>
            <p>{{lieu}}</p>
            <p>{{description}}</p>
        </div>
        {{/listeEvents}}
    </section>

</body>

</html>